.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    border: 1px solid #000;
    padding: 97px 50px;
    
}

.header-links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header-links-list-item-no-bullit {
    list-style: none;
}

.item-text-no-decoration {
    text-decoration: none;
}

.header-logo {
    width: 125px;
    height: 95px;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.contacts-company {
    display: inline-block;
    width: 100%;
}

.cover {
    position: relative;
    min-height: 757px;
    margin: 0 0 180px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    height: 100%;
    width: 100%;
}

.cover-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    width: 1000px;
    padding: 165px 50px 106px;
}

.aligned-text {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    z-index: 1;
}

.aligned-text-left {
    justify-content: start;
}

.aligned-text-center {
    justify-content: center;
    padding-left: 135px;
}

.aligned-text-right {
    justify-content: end;
    padding-left: 1030px;
}

.cover-description {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    width: 1000px;
    color: #fff;
}

.cover-description-text {
    display: flex;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    align-items: center;
    z-index: 1;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    align-items: center;
    padding: 11.5px 31.5px;
    z-index: 1;
}

.lots {
    margin: 0 24px 120px;
}

.lots-heiding {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.lots-card-list {
    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
}

.card-type {
    width: 334px;
    min-height: 596px;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    text-decoration: none;
}

.card-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 48px 40px;
}

.card-title {
    height: 100%;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: underline;
}

.card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    z-index: 1;
}

.lots-look-more-link {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 30px 0 0 40px;
}

.about {
    display: grid;
    grid-template-columns: 359px 1fr;
    margin: 0 24px 180px;
}

.about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 35px 47px;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 25px 0;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin: 135px 0 75px;
}

.about-text {
    max-width: 688px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-address {
    justify-self: start;
}

.footer-menu-links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer-socials-list-link {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer-socials-icon {
    height: 48px;
    width: 48px;
}