.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    border: 1px solid #000;
    padding: 0 50px;
}

.header-links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header-links-list-item-no-bullit{
    list-style: none;
        
}

.item-text-no-decoration {
    text-decoration: none;
}

.header-logo {
    width: 125px;
    height: 95px;
}

.header-address {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
    align-items: flex-start;
}

.number,
.mail {
    display: inline-block;
    width: 100%;
}

.cover {
    position: relative;
    height: 757px;
    margin: 0 0 180px; 
    background-image: url(/images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 0.6);
    height: 100%;
    width: 100%;
}

.cover-title {
    z-index: 1;
    color: #fff;
    margin: 165px 50px 105px;
    width: 1000px;
    height: 385px;
}

.aligned-text {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
}

.aligned-text-left {
    justify-content: start;
    align-items: start;
}

.aligned-text-center {
    justify-content: center;
    align-items: center;
}

.aligned-text-right {
    justify-content: end;
    align-items: end;
}

.cover-description {
    display: flex;

    margin: 0 50px;
    width: 1000px;
    height: 50px;
    z-index: 1;
    color: #fff;
}

.cover-description-text {
    display: flex;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
    align-items: center;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #FFF;
    background: transparent;
    align-items: center;
    padding: 11.5px 31.5px;
    margin-left: 90px;
}

.lots {
    margin: 0 24px 120px;
}

.lots-heiding {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.lots-card-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.card-type-film,
.card-type-book,
.card-type-picture {
    width: 334px;
    min-height: 596px;
    color: #fff;
    position: relative;
}

.card-type-film {
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}
 .card-type-book {
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

 .card-type-picture {
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 48px 40px;
}

.card-title {
    height: 100%;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    
}

.card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.lots-look-more-link {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 30px 0 0 40px;
}

.about {
    height: 595px;
    display: grid;
    grid-template-columns: 334px 1fr;
    margin: 0 24px 180px;
}

.about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 25px 0;
}

.about-title {
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    height: 180px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
}

.footer-address {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
    align-items: flex-start;
}

.footer-menu-links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer-socials-list-link {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.footer-socials-icon {
    height: 48px;
    width: 48px;
}